{% extends 'base/base.html' %}
{% block page_content %}
    <div class="container">
        <div class="row space-top">
            <div class="col-md-12">
                <h1>My Furniture</h1>
                <p>This is a list of your publications.</p>
            </div>
        </div>
        <div class="row space-top">
            {% for item in items %}
                <div class="col-md-4">
                <div class="card text-white bg-primary">
                    <div class="card-body">
                        <img src="{{ item.image }}"/>
                        <p>{{ item.description }}</p>
                        <footer>
                            <p>Price: <span>${{ item.price|floatformat:2 }}</span></p>
                        </footer>
                        <div>
                            <a href="{% url 'furniture details' item.pk %}" class="btn btn-info">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}