{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

</head>
<body>
<main>
    <div class="wrapper">
        <section>
            <div>
                <h1 class="gray">Add Task</h1>
            </div>
            <div>
                <form method="post" action="{% url 'index' %}">
                    {% csrf_token %}
                    {{ form }}
                    <button id="add">Add</button>
                </form>
            </div>
        </section>

        <section>
            <div>
                <h1 class="orange">Open</h1>
            </div>
            <div>
                {% for task in open %}
                    <article>
                        <h3>{{ task.title }}</h3>
                        <p>Description: {{ task.description }}</p>
                        <p>Due Date: {{ task.dead_line }}</p>
                        <div class="flex">
                            <button class="green">
                                <a class="green" href="{% url 'start task' task.pk %}">Start</a>
                            </button>
                            <button class="red">
                                <a class="red" href="{% url 'delete task' task.pk %}">Delete</a>
                            </button>
                        </div>
                    </article>
                {% endfor %}

            </div>
        </section>
        <section>
            <div>
                <h1 class="yellow">In Progress</h1>
            </div>
            <div id="in-progress">
                {% for task in in_progress %}
                    <article>
                        <h3>{{ task.title }}</h3>
                        <p>Description: {{ task.description }}</p>
                        <p>Due Date: {{ task.dead_line }}</p>
                        <div class="flex">
                            <button class="red">
                                <a class="red" href="{% url 'delete task' task.pk %}">Delete</a>
                            </button>
                            <button class="orange">
                                <a class="orange" href="{% url 'finish task' task.pk %}">Finish</a>
                            </button>
                        </div>
                    </article>
                {% endfor %}

            </div>
        </section>
        <section>
            <div>
                <h1 class="green">Complete</h1>
            </div>
            <div>
                {% for task in complete %}
                    <article>
                        <h3>{{ task.title }}</h3>
                        <p>Description: {{ task.description }}</p>
                        <p>Due Date: {{ task.dead_line }}</p>
                    </article>
                {% endfor %}

            </div>
        </section>
    </div>
</main>

</body>
</html>